[user]
	name = {{ .gitUser }}
	email = {{ .gitEmail }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/github.pub
[core]
	autocrlf = input
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[fetch]
	prune = true
