[settings]
api_key = {{ protonPass "pass://s1HH4E_LjbPB77YUiQcWAXA3BzBy1_D370gMVE7ZvRrMH0-6Tw3KoHut4WRvolpW_sSdAY9fueAsYHeovqHABg==/Yie4CaxiY-EqfWsIIVZ4avv3Yof_xQAy2zW9946A8JwclI6hbjwSMMJhZRsCEXKKbDdNu1GTe7LVRWMyjx8L_A==/API Key" }}

status_bar_enabled = true
status_bar_coding_activity = true
